
/* layout */
body {
    display: flex;
    align-items: center;
    height: 90vh;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 0;
    
}


/* scene */
.scene {
    width: 100%;
    height: 100%;
    /* space between card-scenes */
   
  /* set perspective   */
    perspective: 1600px;
    
}

/* card */
.card {
    display: flex;
    align-content:center;
    justify-content: center;
    width: 90%;
    height: 80%;
    position: relative;
    cursor: grab;
    transition: transform 1s;
    /* preserve child 3d   */
    transform-style: preserve-3d;
}

/* face */
.face {
    display: flex;
    align-content:center;
    justify-content: center;
    
    position: absolute;
    height: 80%;
    width: 90%;
   
    /* hide back face   */
    backface-visibility: hidden;
}









.front {
    display:flex;
    justify-content:center;
    align-items: center;
    text-align:center;
    background-image: url(Assets/OGSize.png);
      background-size: cover;
    background: #5792CF;
    border-radius: 5% 5% 5% 5%;
filter: drop-shadow( 0em .5em .3em #676f6f );
min-width: 100%;
    min-height: 100%;}


.back {
    background-image: url(Assets/OGSizeBack.png);
    background-size: cover;
    background:#dcf8ff;
    min-width: 100%;
    min-height: 100%;  /* flip it default   */
    transform: rotateY(180deg);
    border-radius: 5% 5% 5% 5%;
  
 
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}



/* Media Query for Mobile */
@media only screen and (max-width: 700px) and (min-width:50px) { 
    
     /*Diagnostic Styling. Delete When Done. 
    body:before {
         background: yellow;
         content: "Mobile Size";
    }*/

    body {
        display: flex;
        align-items: center;
        height: 90vh;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 0;

    }

    .scene {
        width: 100%;
        height: 100%;
        /* space between card-scenes */
        
    
        /* set perspective   */
        perspective: 600px;
    }
    
    /* card */
    .card {
        
        height: 100%;
        position: relative;
        padding:.5em;
        cursor: grab;
        transition: transform 1s;
    
        /* preserve child 3d*/   
        transform-style: preserve-3d;
        border-radius: 50% 90% 90% 90%;
    }
    
    /* face */
    .face {
        position: absolute;
        height: 100%;
        width: 100%;
        /* hide back face */  
        backface-visibility: hidden;}
    
    .front {
        text-align:center;
        background: #5792CF;
        border-radius: 5% 5% 5% 5%;
        filter: drop-shadow(0rem .1rem .25rem #0e3b3d);
        background-image: url(Assets/phoneMedia.png);
        background-size: cover;
        height: 541px;
        width: 302px;

    }
 

    .back {
        background:#dcf8ff;
        background-image: url(Assets/backofPhoneMedia.png);
        background-size: cover;
        /* flip it default   */
        transform: rotateY(180deg);
        border-radius: 5% 5% 5% 5%;
        filter: drop-shadow(0rem .1rem .25rem #0e3b3d);
        background-size: cover;
        height: 541px;
        width: 302px;
    }
    
    /* flip card
      * toggle with JS
      */
    .flipped {
        transform: rotateY(180deg);
    }
}



/* Media Query for Tablet */
 /*@media only screen and (max-width: 600px) and (min-width: 800px){ 
    
    .scene {
        width: 100%;
        height: 100%;
        /* space between card-scenes */
     /*    margin: 16px;
      /* set perspective   */
     /*    perspective: 1600px;
    /*     
    }
    
    /* /* card */
    /*.card {
        display: flex;
        align-content:center;
        justify-content: center;
        width: 90%;
        height: 80%;
        position: relative;
        cursor: grab;
        transition: transform 1s;
        /* preserve child 3d   */
   /*      transform-style: preserve-3d;
    }
    
    /* face */
    /* .face {
        display: flex;
        align-content:center;
        justify-content: center;
        flex-wrap:wrap;
        flex-direction:column;
        line-break:loose;
        
        position: absolute;
        width: 100%;
        height: 100%;
    /*     /* hide back face   */
    /*     backface-visibility: hidden;
    }
    
   
    
    
    
    
    /* 
    .front {
        display:flex;
        justify-content:center;
        align-items: center;
        text-align:center;
        background-image: url(Assets/phoneMedia.png);
        background-size: cover;
        border-radius: 5% 5% 5% 5%;
    filter: drop-shadow( 0em .5em .3em #676f6f );
    }
    
    
    /* .back {
        
        background-image: url(Assets/backofPhoneMedia.png);
        background-size: cover;
        background:#dcf8ff;
        /* flip it default   */
    /*     transform: rotateY(180deg);
        border-radius: 5% 5% 5% 5%;
     
    }
    
    /* flip card
      * toggle with JS
      */
  /*  .flipped {
        transform: rotateY(180deg);
    }
}
*/